<div id="login_wrapper" class="fix">
	<div class="logo">
		<img src="/assets/img/logo/ana-logo.png" alt="logo" class="logo-img">
	</div>
	<section id="login_content">
		<h1 class="login-title">
			Sign In to your account
		</h1>
		<div class="login-body">
			<form class="form-horizontal">
				<div class="form-group row">
					<label class="sr-only">Email: </label>
					<div class="col-md">
						<md-input-container floatPlaceholder="auto" class="float-auto">
							<input mdInput placeholder="Email" [(ngModel)]="username" class="form-control" type="email" name="username">
						</md-input-container>
					</div>
				</div>
				<div class="form-group row">
					<label class="sr-only">Password: </label>
					<div class="col-md">
						<md-input-container floatPlaceholder="auto" class="float-auto">
							<input mdInput placeholder="Password" [(ngModel)]="password" class="form-control" type="password" name="password">
						</md-input-container>
					</div>
				</div>
				<!-- <a href="javascript:void(0)" class="forgot-pass float-right">Forgot Password?</a>
				<div class="checkbox inline-block">
					<md-checkbox name="remember"> Remember Me</md-checkbox>
				</div> -->
				<a href="javascript:void(0)" class="btn btn-info btn-block m-t-40" (click)="onClick()">Sign In</a>
				<div class="login-options">
					<!--<span>OR</span>
					<hr />-->
				</div>
				<!--<button class="btn btn-facebook btn-block"><i class="zmdi zmdi-facebook"></i> Sign In with Facebook</button>
				<button class="btn btn-google btn-block"><i class="zmdi zmdi-google-plus"></i> Sign In with Twitter</button>-->
			</form>
		</div>
		<!--<div class="login-footer">
			<p class="p-t-15 text-center">
				Don't have an account? <a href="javascript:void(0)" (click)="toggleRegister = !toggleRegister">Create an account</a>
			</p>
		</div>-->
	</section>
	<!--<section id="register_wrapper" [class.toggleRegister]="toggleRegister">
		<ul class="actions icons top-right">
			<li>
				<a href="javascript:void(0)" (click)="toggleRegister = !toggleRegister">
						<i class="zmdi zmdi-close"></i>
					</a>
			</li>
		</ul>
		<h1 class="login-title">
				Create an account
			</h1>
		<div class="login-body">
			<form class="form-horizontal">
				<div class="form-group row">
					<label class="sr-only">Name: </label>
					<div class="col-md">
						<md-input-container floatPlaceholder="auto" class="float-auto">
							<input mdInput placeholder="Name" class="form-control" type="text">
						</md-input-container>
					</div>
				</div>
				<div class="form-group row">
					<label class="sr-only">Email: </label>
					<div class="col-md">
						<md-input-container floatPlaceholder="auto" class="float-auto">
							<input mdInput placeholder="Email" class="form-control" type="email">
						</md-input-container>
					</div>
				</div>
				<div class="form-group row">
					<label class="sr-only">Password: </label>
					<div class="col-md">
						<md-input-container floatPlaceholder="auto" class="float-auto">
							<input mdInput placeholder="Password" class="form-control" type="password">
						</md-input-container>
					</div>
				</div>
				<div class="form-group row">
					<label class="sr-only">Confirm Password: </label>
					<div class="col-md">
						<md-input-container floatPlaceholder="auto" class="float-auto">
							<input mdInput placeholder="Confirm Password" class="form-control" type="password">
						</md-input-container>
					</div>
				</div>
				
				<div class="checkbox inline-block">
					<md-checkbox name="agree"> I agree to the <a href="javascript:void(0)" class="forgot-pass"> terms of service.</a></md-checkbox>
				</div>
				<a href="javascript:void(0)" [routerLink]="['/dashboards']" class="btn btn-info btn-block m-t-40">Sign In</a>
			</form>
		</div>
		<div class="login-footer">
			<p class="p-t-15 text-center">
				Already have an account? <a href="javascript:void(0)" (click)="toggleRegister = !toggleRegister">Sign In</a>
			</p>
		</div>
	</section>-->
</div>
